<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'music_app:music_home' %}">
            <img src="https://play-lh.googleusercontent.com/mOkjjo5Rzcpk7BsHrsLWnqVadUK1FlLd2-UlQvYkLL4E9A0LpyODNIQinXPfUMjUrbE"
                width="112" height="28">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{% url 'music_app:music_home' %}">
                Home
            </a>

            <a class="navbar-item">
                
            </a>

        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    {% if request.user %}
                   
                    <a href="{% url 'music_app:send_to_signin' %}" class="button is-light">
                        Log Out
                    </a>
                    {% else %}
                    <a class="button is-primary">
                        <strong>Sign up</strong>
                    </a>
                    <a href="{% url 'music_app:send_to_signin' %}" class="button is-primary is-light">
                        Log in
                    </a>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</nav>